/* RightPanel.css */
/* RightPanel.css */
.right-panel {
  position: absolute; /* Change from fixed to absolute */
  right: 20px; /* Positioning from the right edge */
  top: 150px; /* Adjust this value based on the height of the Draw button */
  background: linear-gradient(145deg, #111111, #505098);
  width: 250px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(76, 248, 245, 0.4);
  border: 2px solid #00d1ff;
  color: #00d1ff;
  z-index: 1000;
  transition: opacity 0.3s ease; /* Change right property transition to opacity for smoother hiding */
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially hidden */
}

/* When the panel is open */
.right-panel.open {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Ensure it's visible */
}

/* Add this style for the image inside the button */
.toggle-image {
  width: 40px; /* Adjust the size of the image */
  height: 30px;
}

/* Button styles remain unchanged */
.draw-constellation-btn,
.screenshot-btn,
.constellation-mode-toggle {
  padding: 6px 12px;
  margin-top: 8px;
  border: 2px solid #00d1ff;
  background-color: transparent;
  color: #00d1ff;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h2, h3, p {
  color: #00d1ff;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 8px;
}

.selected-planets-list {
  list-style-type: none;
  padding: 0;
}

.selected-planets-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.selected-planets-list span {
  font-family: 'Orbitron', sans-serif;
  color: #00d1ff;
}

.selected-planets-list button {
  background-color: transparent;
  color: #00d1ff;
  padding: 4px;
  border: 1px solid #00d1ff;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.selected-planets-list button:hover {
  background-color: #00d1ff;
  color: #000;
}
